<h3 class="center mt-3 blue-text text-accent-4">Welcome, {{user.firstName}}!</h3>

<div class="progress">
  <div class="indeterminate"></div>
</div>
<h3 class="center mt-3">Development still in progress</h3>
<br><br><br><br><br>
<div class="row">
  <div class="col s6 offset-s3">
    <ul>
      <li><em>
          <h6>List of Features Being Worked On</h6>
        </em></li>
      <li>-Backend Database Associations</li>
      <li>-Overall Database Schema</li>
      <li>-Gmail and Google Calendar Integration</li>
      <li>-User Serialization and Deserialization || <strong><em>Integrated</em></strong></li>
      <li>-User Accounts Using Google O-AUTH || <strong><em>Integrated</em></strong></li>
      <li>-User Specific Settings</li>
    </ul>
  </div>
</div>