<div class="row">
  <br><br><br><br><br><br>
  <div class="col s6 offset-s3">
    <div class="card blue darken-2 center">
      <br>
      <div class="col s10 offset-s1">
      <h4 class="white-text center">You must be logged in to proceed. Please login or register with the link below.</h4>
      </div>
      <br>
      <a href="/auth/google" class="btn btn-large red darken-1"><i class="fab fa-google left"></i>  LOGIN WITH GOOGLE</a>
    </div>
  </div>
</div>